@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document regexp("chrome://awsomeautoarchive/content/.*") {
  #awsome_auto_archive-perfpane {
    overflow: auto;
    min-width: 600px;
  }
  
  #awsome_auto_archive-rules {
    min-height: 200px;
  }
  
  #awsome_auto_archive-rules >.awsome_auto_archive-rule {
    box-align: center;
    -moz-box-align: center;
  }
  
  #awsome_auto_archive-rules >.awsome_auto_archive-rule[focused=true] {
    border: 1px dotted blue;
  }
  
  #awsome_auto_archive-rules >.awsome_auto_archive-rule textbox[focused=true] {
    flex: 1 1;
    -moz-box-flex: 1;
  }
  
  #awsome_auto_archive-perfpane textbox[readonly="true"] {
    color: grey !important;
  }
  
  #awsome_auto_archive-perfpane .awsome_auto_archive-disable  * {
    color: grey !important;
  }

  #awsome_auto_archive-perfpane .awsome_auto_archive-center-rows  row{
    box-align: center;
    -moz-box-align: center;
  }
  
  #awsome_auto_archive-perfpane  .awsome_auto_archive-delete-rule {
    color: red !important;
  }
}