@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document regexp("chrome://awsomeautoarchive/content/.*") {
  #awsome_auto_archive-perfpane {
    overflow: auto;
    min-width: 600px;
  }
  
  #awsome_auto_archive-rules {
    min-height: 200px;
  }
  
  #awsome_auto_archive-rules-header {
    background-image: linear-gradient(to bottom right, grey, rgba(0,255,0,0));
    margin: 4px 2px 2px 2px;
  }
  
  #awsome_auto_archive-rules-header,
  #awsome_auto_archive-rules-header > label,
  #awsome_auto_archive-rules >.awsome_auto_archive-rule,
  #awsome_auto_archive-perfpane .awsome_auto_archive-center-rows  row,
  #awsome_auto_archive-perfpane .awsome_auto_archive-center-rows  hbox {
    /*box-align: center;*/
    -moz-box-align: center;
  }
  
  #awsome_auto_archive-rules >.awsome_auto_archive-rule[awsome_auto_archive-focused=true] {
    background-image: linear-gradient(to bottom right, grey, rgba(0,0,255,0));
  }
  
  #awsome_auto_archive-rules >.awsome_auto_archive-rule textbox[focused=true] {
  }

  #awsome_auto_archive-rules >.awsome_auto_archive-rule menulist.folderMenuItem {
    width: 120px;
  }
  
  #awsome_auto_archive-perfpane textbox[readonly="true"],
  #awsome_auto_archive-perfpane .awsome_auto_archive-disable  *,
  #awsome_auto_archive-perfpane .awsome_auto_archive-enable-checked  checkbox:not([checked]),
  #awsome_auto_archive-perfpane .awsome_auto_archive-enable-checked  checkbox:not([checked]) + hbox,
  #awsome_auto_archive-perfpane .awsome_auto_archive-enable-checked  checkbox:not([checked]) + hbox textbox {
    color: grey !important;
  }
  
  #awsome_auto_archive-perfpane  .awsome_auto_archive-delete-rule {
    color: red !important;
  }
  
  #awsome_auto_archive-infolist {
    min-width: 800px;
    min-height: 600px;
  }
}